<div *ngIf="true">
    <div *ngFor="let items of dataTitle">
        <!-- $event gives info on what has heppended -->
        <button (click)="buttonClicked($event)" style="height: auto;" mat-raised-button color="primary"> {{ items
            }}</button>
    </div>
    <p [ngClass]="combinedClasses">{{ currentUrl.toLowerCase() }}</p>
    <p [class]="textSuccess">{{ title.toUpperCase() + title.length}}</p>
    <!-- using ngModel to 2 way binding []->from class to UI ()->from UI to class -->
    <input [class.text-danger]="true" [(ngModel)]="propertyBindingString" type="text"
        [disabled]="propertyBindingBoolean">{{ propertyBindingString }}
    <div>
        <!--
            pipe for string
            Different pipes for string operations - lowercase,uppercase,titlecase,slice
        -->
        <p>{{someText | titlecase}}</p>
        <!--
            json pipe stringifying an object
        -->
        <p>{{ someObject | json }}</p>

        <!--
            piped for integers
        -->
        <p>{{ 62.31 | number:'3.1-2'}}</p>
        <p>{{ 62.31 | percent}}</p>
    </div>
</div>