.text-danger {
    color: red;
    /* adding this conditionally using [class.text-danger]='<Expression to evalute to true/false>' */
}

.text-success {
    color: green;
    font-family: verdana;
    font-size: 15px;
    text-align: left;
}

.text-italic {
    font-style: italic;
}