<div *ngIf="true">
    <p [ngClass]="combinedClasses">{{ currentUrl.toLowerCase() }}</p>
    <p>{{ myName }}</p>
    <p [class]="textSuccess">{{ title.toUpperCase() + title.length}}</p>
    <!-- using ngModel to 2 way binding []->from class to UI ()->from UI to class -->
    <input [class.text-danger]="true" [(ngModel)]="propertyBindingString" type="text" [disabled]="propertyBindingBoolean">{{ propertyBindingString }}
    <div>
        <!--
            pipe for string
            Different pipes for string operations - lowercase,uppercase,titlecase,slice
        -->
        <p>{{someText | titlecase}}</p>
        <!--
            json pipe stringifying an object
        -->
        <p>{{ someObject | json }}</p>

        <!--
            piped for integers
        -->
        <p>{{ 62.31 | number:'3.1-2'}}</p>
        <p>{{ 62.31 | percent}}</p>
        <button mat-raised-button color="primary" (click)="routeOnButtonClick();buttonClicked($event)">Route me</button>
    </div>
    <input type="file" name="file" (change)="onExcelFileChange($event)" multiple="false" accept=".xlsx">
    <button mat-button color="primary" (click)="downloadCsvFromJson($event)">download CSV</button>
</div>