<div *ngIf="showGrid">
    <ag-grid-angular style="width: 1500px; height: 350px;" class="ag-theme-balham" [rowData]="rowDataUser"
        [columnDefs]="colDefsEmployee" [animateRows]="true" [pagination]="true" [suppressDragLeaveHidesColumns]="true"
        [headerHeight]="30" [groupHeaderHeight]="40" [rowHeight]="50"></ag-grid-angular>
</div>
<mat-accordion>
    <mat-expansion-panel *ngFor="let item of [1]; first as isFirst" [expanded]="isFirst">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Custodian data
            </mat-panel-title>
            <mat-panel-description>
                grid that contains the custodian data and their respective details
            </mat-panel-description>
        </mat-expansion-panel-header>
        <ag-grid-angular style="width: 1500px; height: 350px;" class="ag-theme-balham" [rowData]="rowDataDump"
            [columnDefs]="colDefsDump" [animateRows]="true" [pagination]="true" [paginationPageSize]="20"
            [suppressDragLeaveHidesColumns]="true" [headerHeight]="30" [groupHeaderHeight]="40" [rowHeight]="50">
        </ag-grid-angular>
        <button style="float: right;margin-top: 3px;width: 200px;" mat-raised-button color="primary"
            (click)="showLogs()">watch-log</button>
    </mat-expansion-panel>
 </mat-accordion>   