<div mat-dialog-title>Sample-Form</div>
<div mat-dialog-content>
    <form [formGroup]="sampleForm">
        <input id="name" name="name" class="w-50" type="text" (keyup)="validateForm()" placeholder="Enter name" required formControlName="name">
        <input type="text" name="password" id="password" (keyup)="validateForm()" placeholder="enter password" formControlName="password">
        <input [disabled]="isFormValid" type="submit" value="search" (click)="submitForm()">
        <input type="reset" value="reset">
    </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="accent" [matTooltipPosition]="'after'" matTooltip="close current dialog" mat-dialog-close>close</button>
</div>