<div class="container-fluid mt-3">
    <p>{{ title }}</p>
    <app-accordion-basics></app-accordion-basics>
    <app-data-grid></app-data-grid>
    <!-- using EventEmiiter in child component to emit the value to parent component -->
    <app-feature-develop (messageEmitted)="title = $event" [dataTitle]="listOfAnims" [giveMeTitle]="yourReferenceTitle"></app-feature-develop>
</div>

<div>
    <app-footer></app-footer>
    <!--
        Place for routes to be displayed - tag can be used in parent module only
    -->
    <router-outlet></router-outlet>
</div>